.margin-top{
  margin-top:20px;
}
.margin-bottom{
  margin-bottom:20px;
}
.pull-right {
  float: right!important;
}
.pull-left {
  float: left!important;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}